<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Saishivam car-wash</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Admin
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" [routerLink]="['/admin/categories']" routerLinkActive="active">Categories</a></li>
             <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li> 
          </ul>
        </li> -->
        <li class="nav-item search">
          <a class="nav-link search" aria-current="page" [routerLink]="['/search']" routerLinkActive="active">Search</a>
        </li>

      <li class="nav-item admin_login">
        <a class="nav-link admin_login" aria-current="page" [routerLink]="['/admin_login']" routerLinkActive="active">Admin</a>
      </li>
      <li class="nav-item order">
        <a class="nav-link order" aria-current="page" [routerLink]="['/order']" routerLinkActive="active">Order</a>
      </li>
      <li class="nav-item checkout">
        <a class="nav-link checkout" aria-current="page" [routerLink]="['/checkout']" routerLinkActive="active">Checkout</a>
      </li>
      <li class="nav-item reviews">
        <a class="nav-link reviews" aria-current="page" [routerLink]="['/reviews']" routerLinkActive="active">Reviews</a>
      </li>
    </ul>
    <div class="d-flex">
      <!-- Show Login button only if no one is logged in (both user and admin) -->
      <a *ngIf="!isLoggedIn && !isAdminLoggedIn" [routerLink]="['/login']" routerLinkActive="active" class="btn btn-primary">Login</a>
    
      <!-- Show Logout button for a regular user -->
      <button *ngIf="isLoggedIn" (click)="logout()" class="btn btn-danger">Logout</button>
    
      <!-- Show Logout button for an admin -->
      <button *ngIf="isAdminLoggedIn" (click)="Adminlogout()" class="btn btn-danger">Logout</button>
    </div>
    
    </div>
  </div>
</nav>