<div class="carousel-container">
  <!-- Previous button -->
  <button class="carousel-control prev" (click)="prevImage()">&#10094;</button>

  <!-- Carousel images -->
  <div class="carousel-image">
    <img [src]="images[currentIndex]" alt="Carousel Image">
  </div>

  <!-- Next button -->
  <button class="carousel-control next" (click)="nextImage()">&#10095;</button>
  
</div>

<div class="content-container">
  <p class="intro-text"> With Saishivam car-wash, you can get your car washed at your convenience.</p>
  <ul class="feature-list">
    <li>Get your car washed at home, salon, office, or anywhere you are.</li>
    <li>Quick sign-up to save time and get started.</li>
    <li>Enter your car, address, and payment details for easy booking.</li>
    <li>A washer will provide a premium wash.</li>
    <li>Choose from various packages and add-ons for complete car care.</li>
    <li>Schedule future car washes at your convenience.</li>
    <li>Leave reviews and ratings for washers.</li>
    <li>Download the app now and book your first car wash!</li>
  </ul>
</div>
